# البيئة الافتراضية
.venv/
venv/

# ملفات الوسائط (الصور المرفوعة)
media/

# ملفات الكاش المزعجة (في أي مكان بالمشروع)
__pycache__/
*.py[cod]

# --- تنبيه بخصوص الميجريشن ---
# (الأفضل عدم تجاهل ملفات الميجريشن نفسها لأن السيرفر يحتاجها، بل نتجاهل الكاش داخلها)
*/migrations/__pycache__/